---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Ruben Rikkerink</h1>
			<p class="hero__text">
				Lerende Developer die met AI-tools zoals Cursor en Claude moderne webapplicaties bouwt. Van idee tot online uitvoering, met focus op experimenteren en leren door te doen.
			</p>
			<Boton href="#about" texto="Meer over mij"/>
		</div>
		<img
		class="hero__img"
			src="/img/profielfoto.avif"
		alt="Ruben Rikkerink"
		width="384"
    	height="384"
	/>
	</div>
</section>
