---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/profielfoto-2.avif"
			alt="Profielfoto van Ruben Rikkerink"
			width="395"
			height="481"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Over mij" />
			<p class="about__text">
				Ik ontwikkel graag oplossingen die processen vereenvoudigen of automatiseren — van webapplicaties tot complete websites. Door moderne AI-tools zoals Cursor en Claude te integreren in mijn workflow, kan ik sneller itereren en complexere projecten aanpakken. Dankzij ervaring met webhosting en webdesign overzien ik het volledige traject, van idee tot online uitvoering. Ik werk nauwkeurig, denk in mogelijkheden en zie elk project als leermoment om mijn skills verder te ontwikkelen.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
