---
import Logo from '../Logo.astro';
import SocialIcons from '../SocialIcons.astro';
import './Footer.css';
---

<footer>
	<div class="footer__container">
		<Logo name="Ruben Rikkerink" />
		<SocialIcons width="23" height="23" />
	</div>

	<aside class="footer__links">
		<ul>
			<li>
				<a class="footer__link" href="mailto:info@rubenrikk.nl"
					><span
						><iconify-icon
							icon="fluent:mail-28-regular"
							width="27"
							height="27"
                            style="color: var(--primary-90)"></iconify-icon></span
					>info@rubenrikk.nl</a>
			</li>
			<li>
				<a class="footer__link"
								href="https://github.com/Rubenrikk"
								target="_blank"
								rel="nofollow noreferrer noopener"
							><span
								><iconify-icon
									icon="mdi:github"
									width="27"
									height="27"
                                    style="color: var(--primary-90)"></iconify-icon></span
							>@Rubenrikk</a>
			</li>
		</ul>
	</aside>
</footer>
